@import "tailwindcss";

    @layer utilities {
      /* For WebKit browsers (Chrome, Safari, Edge, Opera) */
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }

      /* For IE, Edge, and Firefox */
      .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
    }
.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #ae7aff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }